name: "Dispatch listener"

on:
  repository_dispatch:

jobs:
  bump_holochain-main:
    if: ${{ github.event.action == 'holochain-released' && startsWith(github.event.client_payload.tag, 'holochain-0.7') }}
    uses: holochain/holonix/.github/workflows/holonix-update.yaml@main
    with:
      branch: main
      update-holochain: true
  bump_holochain-main-0_6:
    if: ${{ github.event.action == 'holochain-released' && startsWith(github.event.client_payload.tag, 'holochain-0.6') }}
    uses: holochain/holonix/.github/workflows/holonix-update.yaml@main
    with:
      branch: main-0.6
      update-holochain: true
  bump_holochain-main-0_5:
    if: ${{ github.event.action == 'holochain-released' && startsWith(github.event.client_payload.tag, 'holochain-0.5') }}
    uses: holochain/holonix/.github/workflows/holonix-update.yaml@main
    with:
      branch: main-0.5
      update-holochain: true
  bump_holochain-0_4:
    if: ${{ github.event.action == 'holochain-released' && startsWith(github.event.client_payload.tag, 'holochain-0.4') }}
    uses: holochain/holonix/.github/workflows/holonix-update.yaml@main
    with:
      branch: main-0.4
      update-holochain: true
  bump_holochain-0_3:
    if: ${{ github.event.action == 'holochain-released' && startsWith(github.event.client_payload.tag, 'holochain-0.3') }}
    uses: holochain/holonix/.github/workflows/holonix-update.yaml@main
    with:
      branch: main-0.3
      update-holochain: true
