name: "Holonix cache trigger"

# Because other things use the same cache, run once a day to make sure that the cache is up-to-date.

on:
  # At 1:00am on every 2nd day
  schedule:
    - cron: "0 1 */2 * *"
  # For debugging, allow the workflow to be run manually
  workflow_dispatch:
    inputs: {}

jobs:
  update-cache-main:
    uses: holochain/holonix/.github/workflows/holonix-cache.yaml@main
    with:
      branch: main
  update-cache-main-0_4:
    uses: holochain/holonix/.github/workflows/holonix-cache.yaml@main
    with:
      branch: main-0.4
  update-cache-main-0_3:
    uses: holochain/holonix/.github/workflows/holonix-cache.yaml@main
    with:
      branch: main-0.3
